__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
*.egg

*.pt
*.pth
!pretrained/.gitkeep

data/
!data/.gitkeep
results/
pretrained/
ckpt/
logs/
cache/
*.cache

.DS_Store
.ipynb_checkpoints/
*.swp
*.swo
*~

.vscode/
.idea/

*.npy
*.npz
*.mat
*.off
*.ply
*.obj
*.stl
